html, body {
    font-family: 'aileron' !important;
}
datalist {
    max-height: 200px;
    overflow: auto;
}
.is-pacifico {
    font-family: 'Pacifico';
}
.is-aileron {
    font-family: 'aileron';
}
.is-aileron-bold {
    font-family: 'aileron-bold';
}
.is-font-kristi {
    font-family: 'Kristi';
}
.is-font-lato {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}
.is-aileron-black {
    font-family: 'aileron-black';
}
.text-yellow {
    color: #ffb606 !important;
}
.is-dancing-script {
    font-family: 'Dancing Script';
}
.btn-primary {
    background-color: #ffb606 !important;
    color: #2a2a2a !important;
    border: none !important;
    &:hover {
        background-color: #2a2a2a !important;
        color: #fff !important;
    }
}