.title-pacifico {
    font-family: 'Pacifico';
    color: #ffb606 !important;
}
.btn-yellow-dark {
    background-color: #ffb606 !important;
    color: #2a2a2a !important;
    border: none !important;
    &:hover {
        background-color: #2a2a2a !important;
        color: #fff !important;
    }
}