@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Dancing Script';
    src: url('./fonts/Dancing_Script/DancingScript-Regular.ttf');
}
@font-face {
    font-family: 'Pacifico';
    src: url('./fonts/Pacifico/Pacifico-Regular.ttf');
}
@font-face {
    font-family: 'aileron';
    src: url('./fonts/aileron/Aileron-Regular.otf');
}
@font-face {
    font-family: 'aileron-bold';
    src: url('./fonts/aileron/Aileron-Bold.otf');
}
@font-face {
    font-family: 'aileron-black';
    src: url('./fonts/aileron/Aileron-Black.otf');
}
@font-face {
    font-family: 'Kristi';
    src: url('./fonts/Kristi/Kristi-Regular.ttf');
}