@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Dancing Script';
    src: url('./fonts/Dancing_Script/DancingScript-Regular.ttf');
}